# Data science
jupyterlab
pandas
matplotlib

altair
folium
statsmodels

# Quarto
nbclient
nbformat

# VS Code interactive shell
ipykernel

# Development
nbdev

# Post specific requirements in 'snippets/requirements-posts.txt'
